.git*
node_modules/@types/**
**/*.map
src/**
tsconfig.json
vscode-extension.iml
**/*.test.*
.github/**
README.md
NOTICE
.vscode/**
node_modules/typescript/**
node_modules/eslint/**
node_modules/@typescript-eslint/**
node_modules/@vscode/test-electron/**
node_modules/vsce/**
node_modules/@vscode/vsce/**
**/*.tsbuildinfo
package-lock.json
